

/* shared style  */
.display-flex{
    display: flex;
}
/* --Dark 02 */
.text-gray{
    color: rgba(66, 66, 66, 1);
}
/* --Dark 03 */
.text-light-gray{
    color: #727272;

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;


}

/* header style */


/* navber realated style */

.navber{
    justify-content: space-between;
    align-items: center;

}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
 
.nav-item{
    font-weight: 500;
   margin-right: 30px;
    list-style:none
   
    
    
}
.nav-link {
    
}

.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner-related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-titel{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
 /* responsive media query */
 @media screen and (max--width:576) {
    .navber, .nav-links{
        flex-direction: column;
    }

 }